* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
  background: #ece8fc;
}

.pill {
  position: relative;
  width: 160px;
  height: 335px;
  background: linear-gradient(to bottom, #312952 0%, #5A4A94 35%, #7B6BC6 100%);
  border-radius: 100px;
  overflow: hidden;
}

.lanternHills {
  position: absolute;
  bottom: -1px;
  width: 225px;
  left: -25px;
}

.star {
  background-color: white;
  position: absolute;
  border-radius: 50%;
}

.star1 {
  width: 3px;
  height: 3px;
  transform: scale(1.1);
  left: 22px;
  top: 135px;
}

.star2 {
  width: 3px;
  height: 3px;
  transform: scale(1.1);
  left: 114px;
  top: 157px;
}

.star3 {
  width: 3px;
  height: 3px;
  transform: scale(1.1);
  left: 157px;
  top: 7px;
}

.star4 {
  width: 2px;
  height: 2px;
  transform: scale(1.1);
  left: 41px;
  top: 79px;
}

.star5 {
  width: 1px;
  height: 1px;
  transform: scale(1.1);
  left: 63px;
  top: 39px;
}

.star6 {
  width: 1px;
  height: 1px;
  transform: scale(1.1);
  left: 130px;
  top: 68px;
}

.star7 {
  width: 1px;
  height: 1px;
  transform: scale(1.1);
  left: 42px;
  top: 170px;
}

.star8 {
  width: 1px;
  height: 1px;
  transform: scale(1.1);
  left: 151px;
  top: 141px;
}

.star9 {
  width: 3px;
  height: 3px;
  transform: scale(1.1);
  left: 126px;
  top: 1px;
}

.star10 {
  width: 3px;
  height: 3px;
  transform: scale(1.1);
  left: 12px;
  top: 26px;
}

.star11 {
  width: 3px;
  height: 3px;
  transform: scale(1.1);
  left: 167px;
  top: 32px;
}

.star12 {
  width: 1px;
  height: 1px;
  transform: scale(1.1);
  left: 120px;
  top: 169px;
}

.star13 {
  width: 2px;
  height: 2px;
  transform: scale(1.1);
  left: 169px;
  top: 24px;
}

.star14 {
  width: 3px;
  height: 3px;
  transform: scale(1.1);
  left: 102px;
  top: 154px;
}

.star15 {
  width: 3px;
  height: 3px;
  transform: scale(1.1);
  left: 124px;
  top: 35px;
}

.star16 {
  width: 3px;
  height: 3px;
  transform: scale(1.1);
  left: 112px;
  top: 223px;
}

.star17 {
  width: 2px;
  height: 2px;
  transform: scale(1.1);
  left: 9px;
  top: 69px;
}

.star18 {
  width: 3px;
  height: 3px;
  transform: scale(1.1);
  left: 18px;
  top: 179px;
}

.star19 {
  width: 2px;
  height: 2px;
  transform: scale(1.1);
  left: 136px;
  top: 186px;
}

.star20 {
  width: 3px;
  height: 3px;
  transform: scale(1.1);
  left: 8px;
  top: 73px;
}

.star21 {
  width: 1px;
  height: 1px;
  transform: scale(1.1);
  left: 86px;
  top: 80px;
}

.star22 {
  width: 1px;
  height: 1px;
  transform: scale(1.1);
  left: 59px;
  top: 82px;
}

.star23 {
  width: 1px;
  height: 1px;
  transform: scale(1.1);
  left: 96px;
  top: 39px;
}

.star24 {
  width: 1px;
  height: 1px;
  transform: scale(1.1);
  left: 108px;
  top: 173px;
}

.star25 {
  width: 3px;
  height: 3px;
  transform: scale(1.1);
  left: 159px;
  top: 51px;
}

.lanternX1 {
  position: absolute;
  bottom: -80px;
  left: 29px;
  transform: translateX(0);
  animation-name: lanternX1;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.lanternY1 {
  display: inline block;
  width: 59px;
  z-index: 59000;
  animation-name: lanternY;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  animation-delay: 5s;
}

@keyframes lanternX1 {
  50% {
    transform: translateX(62px);
  }
}
@keyframes lanternY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(-400px);
  }
}
.lanternX2 {
  position: absolute;
  bottom: -80px;
  left: 62px;
  transform: translateX(0);
  animation-name: lanternX2;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.lanternY2 {
  display: inline block;
  width: 61px;
  z-index: 61000;
  animation-name: lanternY;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  animation-delay: 4s;
}

@keyframes lanternX2 {
  50% {
    transform: translateX(56px);
  }
}
@keyframes lanternY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(-400px);
  }
}
.lanternX3 {
  position: absolute;
  bottom: -80px;
  left: 29px;
  transform: translateX(0);
  animation-name: lanternX3;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.lanternY3 {
  display: inline block;
  width: 53px;
  z-index: 53000;
  animation-name: lanternY;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  animation-delay: 2s;
}

@keyframes lanternX3 {
  50% {
    transform: translateX(16px);
  }
}
@keyframes lanternY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(-400px);
  }
}
.lanternX4 {
  position: absolute;
  bottom: -80px;
  left: 53px;
  transform: translateX(0);
  animation-name: lanternX4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.lanternY4 {
  display: inline block;
  width: 65px;
  z-index: 65000;
  animation-name: lanternY;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  animation-delay: 2s;
}

@keyframes lanternX4 {
  50% {
    transform: translateX(47px);
  }
}
@keyframes lanternY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(-400px);
  }
}
.lanternX5 {
  position: absolute;
  bottom: -80px;
  left: 33px;
  transform: translateX(0);
  animation-name: lanternX5;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.lanternY5 {
  display: inline block;
  width: 65px;
  z-index: 65000;
  animation-name: lanternY;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  animation-delay: 2s;
}

@keyframes lanternX5 {
  50% {
    transform: translateX(1px);
  }
}
@keyframes lanternY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(-400px);
  }
}
.lanternX6 {
  position: absolute;
  bottom: -80px;
  left: 22px;
  transform: translateX(0);
  animation-name: lanternX6;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.lanternY6 {
  display: inline block;
  width: 59px;
  z-index: 59000;
  animation-name: lanternY;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  animation-delay: 2s;
}

@keyframes lanternX6 {
  50% {
    transform: translateX(62px);
  }
}
@keyframes lanternY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(-400px);
  }
}
.lanternX7 {
  position: absolute;
  bottom: -80px;
  left: 34px;
  transform: translateX(0);
  animation-name: lanternX7;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.lanternY7 {
  display: inline block;
  width: 33px;
  z-index: 33000;
  animation-name: lanternY;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  animation-delay: 3s;
}

@keyframes lanternX7 {
  50% {
    transform: translateX(28px);
  }
}
@keyframes lanternY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(-400px);
  }
}
.lanternX8 {
  position: absolute;
  bottom: -80px;
  left: 48px;
  transform: translateX(0);
  animation-name: lanternX8;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.lanternY8 {
  display: inline block;
  width: 65px;
  z-index: 65000;
  animation-name: lanternY;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  animation-delay: 6s;
}

@keyframes lanternX8 {
  50% {
    transform: translateX(24px);
  }
}
@keyframes lanternY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(-400px);
  }
}
.lanternX9 {
  position: absolute;
  bottom: -80px;
  left: 55px;
  transform: translateX(0);
  animation-name: lanternX9;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.lanternY9 {
  display: inline block;
  width: 62px;
  z-index: 62000;
  animation-name: lanternY;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  animation-delay: 5s;
}

@keyframes lanternX9 {
  50% {
    transform: translateX(62px);
  }
}
@keyframes lanternY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(-400px);
  }
}
.lanternX10 {
  position: absolute;
  bottom: -80px;
  left: 79px;
  transform: translateX(0);
  animation-name: lanternX10;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.lanternY10 {
  display: inline block;
  width: 41px;
  z-index: 41000;
  animation-name: lanternY;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  animation-delay: 5s;
}

@keyframes lanternX10 {
  50% {
    transform: translateX(21px);
  }
}
@keyframes lanternY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(-400px);
  }
}
/* --------Social Icons-------- */
/* Color Variables */
/* Social Icon Mixin */
.social-icons {
  display: flex;
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 0.7rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.15s ease;
}
.social-icon:hover {
  color: #fff;
}
.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -150%);
}
.social-icon:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.social-icon--twitter {
  background: #2b97f1;
  color: #fff;
}
.social-icon--twitter .tooltip {
  background: #2b97f1;
  color: currentColor;
}
.social-icon--twitter .tooltip:after {
  border-top-color: #2b97f1;
}
.social-icon--codepen {
  background: #000;
  color: #fff;
}
.social-icon--codepen .tooltip {
  background: #000;
  color: currentColor;
}
.social-icon--codepen .tooltip:after {
  border-top-color: #000;
}
.social-icon i {
  position: relative;
  top: 1px;
}

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.4rem 0.6rem;
  border-radius: 40px;
  font-size: 0.4rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
}
.tooltip:after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}
